<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/historia.css">
    <link rel="shortcut icon" href="./views/Images/ico.ico" type="image/x-icon">
    <title> DEV-URL-1 </title>
</head>
<header>
    <nav>
        <h1>Vistaso a la Historia 📖</h1>
        <ul>
            <li id="home">
                <a href="../index.html">
                    <img src="Images/home.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>

<body>

    <p class="intro">La historia del arte es un tema amplio y fascinante que abarca miles de años de creación artística.
        <img src="Images/h-port.jpg" alt="" id="port">
    </p>

    <h3>La obra de arte y su título</h3>
    <p>
        Partiendo del hecho de que desde hace milenios texto e imagen conforman una pareja bienavenida, de que la historia del arte está llena de palabras –palabras que construyen un juicio crítico o estético, una propedéutica, un manifiesto…- y de que nuestra experiencia de la obra de arte comporta un considerable cociente verbal, se observa que la ecuación palabra-arte puede orientarse en muy distintas direcciones, entre ellas la del título. Se encuentre en el reverso de la tela –condenándolo al olvido-, en la superficie visible de la obra o en su proximidad, se ha convertido en un elemento más de ella, ha acabado por formar cuerpo con ella, se ha hecho tan omnipresente que su ausencia se convierte casi en mutilación.
    <img src="Images/i-art-2.jpg" alt="" id="init">
    </p>

    <h3>La historiografía del arte </h3>
    <p>
        La historiografía del arte es una ciencia multidisciplinar, procurando un examen objetivo del arte a través de la historia, clasificando culturas, estableciendo...
        <img src="Images/i-art-1.jpg" alt="" id="night">
    </p>

    <h3>Introducción a la Historia del Arte</h3>
    <p>
        La asignatura Introducción a la Historia del Arte aborda, de manera genérica, el estudio analítico y comprensivo de las manifestaciones artísticas desde la...
    </p>

    <h3>El título en la obra de arte </h3>
    <p>
        En este ensayo al autor ha tratado de adentrarse en la naturaleza del tema, indicando en qué consiste el título, señalando su carácter propio o añadido, rastreando su genealógica, estudiando el proceso por el cual fue adquiriendo una presencia más relevante -ya colaborando con la identificación, ya transformándose en pieza esencial del engranaje de la lectura- hasta alcanzar un estado de hipertrofia o, por el contrario, de supuesta anulación en el que se quiso ver la adecuación perfecta a ese proceso de depuración morfológica que acabaría rindiéndose a las posibilidades de los propios medios artísticos de expresión para alcanzar la añorada desalienación artística, algo en lo que indudablemente se avanzó, pero que no llegó a consumarse, o no lo hizo totalmente, advirtiéndose un cierto grado de claudicación.
    </p>
<br>
<br>
<br>
<br>
    <img src="Images/history.webp" alt="logo" id="logo">
</body>

</html>