<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/css/index.css">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                hola
                hola 
            </td>
            <td>
                hola
                hola 
            </td>
        </tr>
        <td>mundo </td>
        <td>como </td>
        <td>va </td>
        <td>el </td>
        <td>dia</td>
    </table>
</body>
</html>