<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/css/pr.css">
    <title> DEV-URL-1 </title>
</head>
<header>
    <nav>
        <h1>Welcome to Himalaya ❄️</h1>
        <ul>
            <li id="home">
                <a href="../index.html">
                    <img src="Images/home.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</header>

<body>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus repudiandae omnis, odit quam, delectus
        corporis consequuntur aspernatur nisi, distinctio assumenda rem! Quas commodi quasi in dolores iusto, quo est
        soluta?</p>
    <!-- <map name="myMap">
        <area shape="rect" coords="0,0,160,160" href="" alt="Link to example.com">
    </map> -->

    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.q7Xi86if5fGHHZ4TVVpM-wHaEy%26pid%3DApi%26h%3D160&f=1&ipt=b1ac76bf61dcbc52ebf6294337417e2cf02975e149674d0fca3ad97c78d096f1&ipo=images"
        alt="img" ismap usemap="#myMap" id="wolf">
</body>

</html>