<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./Images/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/registro.css">
    <title> DEV-URL-1 </title>
</head>
<body>
    <form action="https://formsubmit.co/zorry450a@gmail.com" method="POST">
        <label for="name">Nombre del cliente</label>
        <input type="text" name="name" required>
        <br>
        <label for="email" >Email del contacto</label>
        <input type="email" name="email" required>
        <br>
        <label for="phone" >Número del contacto</label>
        <input type="number" name="cell" required>
        <br>
        <input type="hidden" name="_next" value="https://pruebas-de-codigo.github.io/Dev-URL-1/index.html">
        <input type="hidden" name="_autoresponse" value="Bienvenid@ a mi mundo..">
        <button action="submit" id="send-button">
            Enviar
        </button>
    </form>
<fieldset>
    <legend> Anti-stress area</legend>
    <div>
        <div id="aaa" >📖  </div>
        <div id="bbb">    </div>
    </div>
    <div>
        <div id="c" >  ❄️  </div>
        <div id="d">    </div>
    </div>
    <div>
        <div id="f" >  🛠️  </div>
        <div id="e">    </div>
    </div>
</fieldset>
</body>
</html>