<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./views/Images/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/registro.css">
    <title> DEV-URL-1 </title>
</head>
<body>
    <form action="mailer:zorry450a@gmail.com&body=hola_mundo" method="post">
        <label for="name">Nombre del cliente</label>
        <input type="text" class="input-place">
        <br>
        <label for="email" class="input-place">Email del contacto</label>
        <input type="email">
        <br>
        <label for="phone" class="input-place">Número del contacto</label>
        <input type="tel">
        <br>
        <button action="submit" id="send-button">
            📨
        </button>
    </form>
<br><br><br>
    <div id="aaa" >📖  </div>
    <div id="bbb">    </div>
    <div id="c" >  ❄️  </div>
    <div id="d">    </div>
    <div id="f" >  🛠️  </div>
    <div id="e">    </div>
</body>
</html>