
@media screen and (max-width: 600px) {
    body{
        background-size: 100% 100%;
    }

    h1{
        background-image: url('https://images.unsplash.com/photo-1503919483171-9ffc1debc390?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5dvw;
    }
    li {
        margin: 0;
        padding: 0;
        width: 10dvw;
        height: 5dvw;
        text-align: left;
        justify-content: center;
        font-size: 0.8em;
    }

    ul {
        flex-direction: column;
        gap: 5dvw;
    }

    #register{
        padding-left: 0;
    }

    #next{
        right: 0;
        left: 0;
        top: -0.8rem;
        font-size: xx-large;
    }

    #touch{
        display: block;
        width: 3rem;
        &:hover{
            filter: drop-shadow(0 0 2px lightblue);
            cursor: pointer;
        }
    }
    
    #touch-2{
        display: block;
        width: 2.3rem;
        position: relative;
        &:hover{
            filter: drop-shadow(0 0 2px white) invert();
            cursor: pointer;
        }
        align-self: center;
    }

    nav{
        position: absolute;
        display: none;
        background-color: rgba(215, 67, 4, 0.735);
        width: 18dvh;
        height: 14rem;
        z-index: 1;
        top: 0;
        left: 0;
        justify-content: center;
        transition-duration: 2s;
    }

}

@media screen and (max-width: 400px) {
    li{
        margin-right: 1.1rem;
    }
}